<div id="navbar"></div>

<div class="row" id="header"></div>

<!-- <div class='col-md-1'></div> -->

<div class="root row">
  <div class='col-md-1'></div>
  <div id="index" class='col-md-6'></div>
  <div id="sidebar" class='col-md-4'></div>
  <div class='col-md-1'></div>
</div>


<!-- <div class='col-md-1'></div> -->
