<br><br>
<div id='user-splash' class="col-md-12">
  <% if (user.image().isNew()) { %>
    <img src="http://res.cloudinary.com/dwds5fsan/image/upload/w_150,h_150,c_fill/v1440028989/default_dqhmax.png" alt="" />
  <% } else { %>
    <img src="<%= user.image().escape('url') %>" alt="" />
  <% } %>
  <h1><%= user.escape('username') %></h1>
  <button id="profile" type="button" class="btn btn-info">Edit Profile</button>
</div>
<div id='section-nav' class="col-md-12">
  <div class="col-md-2"></div>

  <div class="col-md-4">
    <nav class='navbar nav'>
      <ul class='nav navbar-nav'>

        <li><a href="#/profile">Overview</a></li>
        <li><a href="#/profile/authored">Posts</a></li>
        <li><a href="#/profile/commented">Comments</a></li>

      </ul>
    </nav>
  </div>

  <div class="col-md-4"></div>
  <div class="col-md-2"></div>
</div>
  <!-- <img src="http://res.cloudinary.com/dwds5fsan/image/upload/w_150,h_150,c_fill/v1440028989/default_dqhmax.png" alt="" /> -->
