<div class="m-background"></div>
<div class="m-content">
  <h4>Edit Your Profile</h4><br>
  <form class="edit-profile">
    <input type="text" name="title" placeholder="Username">
    <br><br>

    <div class="thumb-container">
      <h5>Image:</h5>
    </div><br>

    <button class='btn btn-default upload-button'>Upload Image</button>

    <br></br>
    <input type="submit" class="btn btn-info" value="Update Profile!">
    <button id="close" class="btn btn-danger">Cancel</button>
    <br>
  </form>
</div>
