<br><br>
<div id='user-splash' class="col-md-12">
  <h1><%= window.TenGigg.CURRENT_USER.username %></h1>
  <button id="profile" type="button" class="btn btn-info">Edit Profile</button>
</div>
<div id='section-nav' class="col-md-12">
  <div class="col-md-2"></div>

  <div class="col-md-4">
    <nav class='navbar nav'>
      <ul class='nav navbar-nav'>

        <li><a href="javascript:void(0)" class='overview'>Overview</a></li>
        <li><a href="javascript:void(0)" class='posts'>Posts</a></li>
        <li><a href="javascript:void(0)" class='comments'>Comments</a></li>

      </ul>
    </nav>
  </div>

  <div class="col-md-4"></div>
  <div class="col-md-2"></div>
</div>
