<div class='form-group'>
	<form class='comment-form'>
		<input class='comment-field' type='textarea' name='body' placeholder='Write a comment...'>
		<input class='submit-comment' type='submit' value='Add Comment!'>
	</form>
</div>
