<div class='form-group'>
	<form class='comment-form'>
		<textarea class='form-control comment-field' name='body' rows='2' placeholder='Write a comment...'></textarea>
		<input class='btn btn-info submit-comment' type='submit' value='Add Comment!'>
	</form>
</div>
