<div class='form-group'>
	<form class='comment-form'>
		<textarea class='comment-field' name='body' rows='2' placeholder='Write a comment...'></textarea>
		<input class='submit-comment' type='submit' value='Add Comment!'>
	</form>
</div>
