<div class='form-group'>
	<form class='comment-form'>
		Add a comment:
		<input type='text' name='body' placeholder='Type your comment here...'>
		<input type='submit' value='Add Comment!'>
	</form>
</div>