<div class="author-image">
  <img src="<%= comment.author().image().escape('thumbnail_url') %>" />
</div>
<span class="comment-author">
  <%= author.escape('username') %>:
</span>
<div class="comment-body">
  <%= comment.escape('body') %>
</div>
<br>
