<div class="author-image">
  <img src="<%= comment.author().image().escape('thumbnail_url') %>" />
</div>
<span class="comment-author">
  <a href="#users/<%= author.id %>"><%= author.escape('username') %></a>:
</span>
<div class="comment-body">
  <%= comment.escape('body') %>
</div>
<br>
