<div class="comment">
  <div class="author-image">
    <%= author %>
  </div>
  <div class="comment-author">
    <%= author.escape('username') %>:
  </div>
  <div class="comment-body">
    <%= comment.escape('body') %>
  </div>
</div>
