<h4 class='post-title'><a href="#posts/<%= post.escape("id") %>"><%= post.escape('title') %></a></h4>
<% if (post.image) { %>
  <img
  src="<%= post.image().resizedUrl() %>" alt="" />
<% } %>
<div class='post-popularity'>Popularity: <%= post.escape("popularity") %></div>
<div class='index-item-bumper'></div>
