<a href="#posts/<%= post.escape("id") %>" class="thumb-post-anchor">
  <img src="<%= post.image().escape('thumbnail_url') %>" class="thumb-image"/>
  <h5 class="thumb-post-title"><%= post.escape('title') %></h5>
</a>
