<div class="m-background"></div>
<div class="m-content">
  <h4>Submit a Post</h4><br>
  <form class="post-form">
    <input type="text" name="title" placeholder="Title">
    <br><br>
    <input type="text" name="popularity" placeholder="Popularity"> <!-- Change to URL... -->
    <br><br>

    <div class="thumb-container">
      <h5>Image:</h5>
    </div><br>

    <button class='upload-button'>Upload Image</button><br></br>
    <h4>Categories, select up to three:</h4>
    <ul class="category-select">
      <% TenGigg.categories.each(function (category) { %>
        <li><input type="checkbox" name="category_ids[]" class="category"
          value="<%= category.escape('id') %>">
          <%= category.escape('name') %></li>
      <% }); %>
    </ul>
    <br>

    <input type="submit" value="Submit Post!">
    <button id="close">Cancel</button>
    <br>
  </form>
</div>
