<h4>Make a Post</h4>

<form class="post-form">
  <input type="text" name="post[title]" placeholder="Title"><br><br>
  <input type="text" name="post[popularity]" placeholder="Popularity"> <!-- Change to URL... -->
  <br><br>

  <div class="thumb-container">
    <h5>Image:</h5>
  </div>

  <button class='upload-button'>Upload Image</button><br></br>
  <ul class="category-select"><h4>Categories:</h4>
    <% TenGigg.categories.each(function (category) { %>
      <li><input type="checkbox" class="category"
        value="<%= category.escape('name') %>">
        <%= category.escape('name') %></li>
    <% }); %>
  </ul>

  <input type="submit" value="Submit Post!">

</form>
