<h4>Make a Post</h4>

<form class="post-form">
  <input type="text" name="post[title]" placeholder="Title"><br><br>
  <input type="text" name="post[popularity]" placeholder="Popularity"> <!-- Change to URL... -->
  <br><br>

  <div class="thumb-container">
    <h5>Image:</h5>
  </div>

  <button class='upload-button'>Upload Image</button>

  <input type="submit" value="Submit Post!">

</form>
