/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

//GENERAL

html {
	height: 100%;
}

body {
  font-family: 'Verdana';
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
	color: inherit;
}

//NAVBAR

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-nav > li > :not(btn) {
  border-right: 1px solid #625D5D;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:not(.navbar-brand):focus {
	background-color: #625D5D;
}

.dropdown-menu:first-child {
	padding: 0;
	padding-top: 10px;
}

.dropdown-item {
  height: 30px;
}

.dropdown-menu > li > a {
	color: #808080;
	font-size: 12px;
	height: 100%;
	width: 100%;
	vertical-align: middle;
	line-height: 2;
}

#compose {
	border: 0;
  margin-top: 9px;
  margin-right: 8px;
}

//AUTH STUFF

.form-container {
  text-align: center;
}

.auth-form {
  display: inline-block;
  text-align: center;
  width: 25%;
  height: 200px;
  border: 1px solid gray;
  border-radius: 5%;
  margin: 30px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
}

div.full-page {
  padding: 40px;
  height: 100%;
  width: 100%;
  background-color: black;
}

//POST STUFF, INDEX + SHOW

.post-index-item {
	padding-bottom: 20px;
	padding-top: 10px;
  border-bottom: 1px #D8D8D8;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.post-popularity {
  font-size: 12px;
}

.post-comments {
  font-size: 12px;
  padding-left: 30px;
}

//MAIN INDEX

ul.posts {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 20px;
}

.post-index .posts {
  display: block;
  width: 100%;
  margin: 20px;
  border-right: 1px solid #D8D8D8;
}

.index-item-bumper {
	padding-top: 20px;
	height: 10px;
	width: 600px;
	border-bottom: 1px solid #D8D8D8;
	z-index: 2;
}

//POST FORM MODAL

ul.category-select {
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}

.m-background {
  background-color: rgba(50, 50, 50, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
}

.m-content {
  position: absolute;
  overflow-y: auto;
  background-color: white;
  border-radius: 5px;
  padding: 2pc;
  border: 1px solid;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

// COMMENTS

.comments-container {
  width: 58%;
}

.submit-comment {
	margin-top: 8px;
}

.comment-field {
  width: 75%;
}

.comments {
  padding: 0;
}

.comment-author {
  font-size: 14px;
  color: #0009BA;
}

.comment-body {
  font-size: 14px;
  padding-bottom: 20px;
}

// USER PROFILE

#user-splash {
  background-color: #2E2E2E;
  height: 250px;
  text-align: center;
  color: white;
}

#section-nav {
  height: 50px;
  background-color: white;
  border-bottom: 1px solid #D8D8D8;
}

#section-nav ul.navbar-nav > li {
  padding-right: 20px;
}

#section-nav ul.navbar-nav > li > a {
  height: 80%;
  padding-bottom: 10px;
  background-color: white;
}

#section-nav ul.navbar-nav > li > a:hover {
  border-bottom: 4px solid black;
  color: black;
}

#section-nav ul.navbar-nav > li > a:focus {
  border-bottom: 4px solid #045FB4;
  color: black;
}
