<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <!-- Main Logo/Index -->
      <li class='mainIndex'><a class="navbar-brand" href="#/">TenGigg</a></li>
      <!-- Sort by Recent -->
      <li class='recentIndex'><a class='recent' href="#/">Recent</a></li>
      <!-- Categories Dropdown -->
      <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
        aria-haspopup="true" aria-expanded="false">Categories
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>

          <!-- CATEGORY NAMES HERE -->

          </li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
    
      <% if (window.username !== "Account") { %>

        <!-- Submit Button (change to modal) -->
        <li>
          <!-- <button type="button" class="btn btn-primary">Submit</button> -->
        </li>

        <!-- Account Dropdown (logged in) -->
        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false"><%= window.username %>
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0)" class="sign-out">Sign Out</a></li>
            <!-- <li><a href="#" class="profile">Profile</a></li> -->
          </ul>
        </li>

      <% } else { %>
        <!-- Account Dropdown (not logged in) -->
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false"><%= window.username %>
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/session/new" class="sign-in">Log In</a></li>
            <li><a href="/users/new" class="sign-up">Sign Up</a></li>
          </ul>
        </li>
        <% } %>
    </ul>

  </div>
</nav>
